{% extends 'base.html.twig' %}

{% block title %}404: Page no found!{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/css/shorten.css">
{% endblock %}

{% block body %}
<div class="center_horizontally">
    <pre>
                      /^--^\     /^--^\     /^--^\
                      \____/     \____/     \____/
                     /      \   /      \   /      \
                    |        | |        | |        |
                     \__  __/   \__  __/   \__  __/
|^|^|^|^|^|^|^|^|^|^|^|^\ \^|^|^|^/ /^|^|^|^|^\ \^|^|^|^|^|^|^|^|^|^|^|^|
| | | | | | | | | | | | |\ \| | |/ /| | | | | | \ \ | | | | | | | | | | |
########################/ /######\ \###########/ /#######################
| | | | | | | | | | | | \/| | | | \/| | | | | |\/ | | | | | | | | | | | |
|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|_|
    </pre>
    <h1>There's no cat!</h1>
    <h3>And no hash....</h3>

    Please, confirm if you mispelled the link hash.
</div>
{% endblock %}
