{% extends 'base.html.twig' %}

{% block title %}#500: Internal Error!{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/css/shorten.css">
{% endblock %}


{% block body %}
<div class="center_horizontally">
    <pre>
 ,______________________________________
|_________________,----------._ [____]  ""-,__  __....-----=====
               (_(||||||||||||)___________/   ""                |
                  `----------' Krogg98[ ))"-,                   |
                                       ""    `,  _,--....___    |
                                               `/           """"
    </pre>
    <h1>Something really bad happened here!</h1>
    <h3>And it's all Eduardo's fault...</h3>

    Please, try again in a few minutes.
</div>
{% endblock %}
