{% extends 'base.html.twig' %}

{% block title %}Shorten Url{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/css/shorten.css">
{% endblock %}

{% block body %}
<div class="center_horizontally">
    <pre>
     ▄▄▄▄  █                      ▄                         ▄    ▄        ▀▀█
    █▀   ▀ █ ▄▄    ▄▄▄    ▄ ▄▄  ▄▄█▄▄   ▄▄▄   ▄ ▄▄          █    █  ▄ ▄▄    █
    ▀█▄▄▄  █▀  █  █▀ ▀█   █▀  ▀   █    █▀  █  █▀  █         █    █  █▀  ▀   █
        ▀█ █   █  █   █   █       █    █▀▀▀▀  █   █         █    █  █       █
    ▀▄▄▄█▀ █   █  ▀█▄█▀   █       ▀▄▄  ▀█▄▄▀  █   █         ▀▄▄▄▄▀  █       ▀▄▄
    </pre>
</div>
<form name="frm_shorten">
    <label for="firstName">Url to shorten</label>
    <input type="url" class="form-control large" required="true" id="firstName" maxlength=2083 placeholder="" value="" required>
    <input type="submit" value="Shorten">
</form>
{% endblock %}
