{% extends 'base.html.twig' %}

{% block title %}Shorten Url{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/css/shorten.css">
{% endblock %}

{% block body %}
<div class="center_horizontally">
    <pre>
     ▄▄▄▄  █                      ▄                         ▄    ▄        ▀▀█
    █▀   ▀ █ ▄▄    ▄▄▄    ▄ ▄▄  ▄▄█▄▄   ▄▄▄   ▄ ▄▄          █    █  ▄ ▄▄    █
    ▀█▄▄▄  █▀  █  █▀ ▀█   █▀  ▀   █    █▀  █  █▀  █         █    █  █▀  ▀   █
        ▀█ █   █  █   █   █       █    █▀▀▀▀  █   █         █    █  █       █
    ▀▄▄▄█▀ █   █  ▀█▄█▀   █       ▀▄▄  ▀█▄▄▀  █   █         ▀▄▄▄▄▀  █       ▀▄▄
    </pre>
</div>
{{ form_start(form) }}
{{ form_widget(form) }}
<div class="g-recaptcha center_horizontally" data-sitekey="6LfoPGsUAAAAACb4QrrHmPeCDPG2iTFki485ojcO" data-callback="correctCaptcha"></div>
<script type="text/javascript" src="https://www.google.com/recaptcha/api.js?hl=en"></script>
{{ form_end(form) }}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg|raw }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $("form").each(function() {
        $(this).find(':input[type="submit"]').prop('disabled', true);
    });
    function correctCaptcha() {
        $("form").each(function() {
            $(this).find(':input[type="submit"]').prop('disabled', false);
        });
    }
</script>
{% endblock %}

