{% extends 'base.html.twig' %}

{% block title %}Shorten Url{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="/css/shorten.css">
{% endblock %}

{% block body %}
<div class="center_horizontally">
    <pre>
     ▄▄▄▄  █                      ▄                         ▄    ▄        ▀▀█
    █▀   ▀ █ ▄▄    ▄▄▄    ▄ ▄▄  ▄▄█▄▄   ▄▄▄   ▄ ▄▄          █    █  ▄ ▄▄    █
    ▀█▄▄▄  █▀  █  █▀ ▀█   █▀  ▀   █    █▀  █  █▀  █         █    █  █▀  ▀   █
        ▀█ █   █  █   █   █       █    █▀▀▀▀  █   █         █    █  █       █
    ▀▄▄▄█▀ █   █  ▀█▄█▀   █       ▀▄▄  ▀█▄▄▀  █   █         ▀▄▄▄▄▀  █       ▀▄▄
    </pre>
</div>
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg|raw }}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
